<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.ssafy.spring.plan.repository.PlanRepository">
	<insert id="write" parameterType="plandto">
		insert into plan(userId,
		subject, content, registerTime, startDate, endDate)
		values(#{userId},
		#{subject}, #{content}, now(), #{startDate}, #{endDate})
	</insert>
	<insert id="travelwrite" parameterType="traveldto">
		insert into
		travel(planNo, address_name, phone, place_name, place_url, x, y)
		values(#{planNo}, #{address_name}, #{phone , jdbcType=VARCHAR},
		#{place_name}, #{place_url}, #{x}, #{y})
	</insert>
	<!-- <select id="getAutoInc" resultType="int"> -->
	<!-- select auto_increment -->
	<!-- from information_schema.tables -->
	<!-- where table_schema='enjoytrip' and table_name = 'plan'; -->
	<!-- </select> -->
	<select id="getAutoInc" resultType="int">
		select max(planNo)
		from plan;
	</select>
	<select id="list" resultType="plandto">
		SELECT planNo, subject, userId,
		startDate, endDate,
		hit, DATE_FORMAT(registerTime, '%Y-%m-%d') as
		registerTime
		FROM plan;
	</select>
	<select id="view" parameterType="int" resultType="plandto">
		select *
		from plan
		where planNo = #{planNo}
	</select>
	<select id="getTravelInfo" parameterType="int"
		resultType="traveldto">
		select *
		from travel
		where planNo = #{planNo}
	</select>
</mapper>