<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper	namespace="com.ssafy.spring.board.repository.BoardRepository">
	<select id="list" resultType="boarddto">
		select * from board
	</select>
	<insert id="write" parameterType="boarddto">
		insert into board(userId, subject, content, registerTime)
		values(#{userId}, #{subject}, #{content}, now())
	</insert>
	<select id="view" parameterType="string" resultType="boarddto">
		select *
		from board
		where articleno = #{articleNo}
	</select>
	<select id="getComment" parameterType="string" resultType="comdto">
		select *
		from comment
		where articleno = #{articleNo}
	</select>
	<select id="insertComment" parameterType="comdto">
		insert into
		comment(articleno, userId, date, content)
		values(#{articleNo},
		#{userId},now(), #{content})
	</select>
	<delete id="deleteComment" parameterType="string">
		delete from comment
		where commentNo = #{commentno}
	</delete>
</mapper>