<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.ssafy.spring.member.dto.MemberDto" alias="memdto" />
		<typeAlias type="com.ssafy.spring.board.dto.BoardDto" alias="boarddto" />
		<typeAlias type="com.ssafy.spring.board.dto.CommentDto" alias="comdto" />
<!-- 		<typeAlias type="com.ssafy.spring.area.dto.AreaDto" alias="areadto" />
		<typeAlias type="com.ssafy.spring.area.dto.GugunDto" alias="gugundto" />
		<typeAlias type="com.ssafy.spring.attraction.dto.AttractionDto" alias="attdto" />
		<typeAlias type="com.ssafy.spring.attraction.dto.KeywordDto" alias="keydto" /> -->
		<typeAlias type="com.ssafy.spring.map.model.SidoGugunCodeDto" alias="sidoGugunCodeDto" />
		
	</typeAliases>

	<mappers>
		<mapper resource="mapper/memberMapper.xml" />
		<mapper resource="mapper/boardMapper.xml" />
<!-- 		<mapper resource="mapper/areaMapper.xml" /> -->
<!-- 		<mapper resource="mapper/attractionMapper.xml" /> -->
		<mapper resource= "mapper/map.xml"></mapper>
	</mappers>
</configuration>